* {
    -accent-color: #384254;
    -fx-text-fill: -accent-color;
}

.primary-slider .thumb,
.primary-slider .track {
	-mfx-color: -accent-color !important;
	-fx-fill: derive(-accent-color, 90%) !important;
}

.primary-slider .bar {
    -fx-fill: -accent-color !important;
}

.primary-button {
    -fx-background-color: -accent-color;
    -fx-font-family: "Rubik";
    -fx-text-fill: white !important;
}

.secondary-button {
    -fx-font-family: "Rubik";
    -fx-border-color: -accent-color;
    -fx-border-radius: 3;
}

.stats-container {
    -fx-padding: 20 20 20 20;
    -fx-opacity: 0.85;
    -fx-background-color: white;
    -fx-fill: -accent-color;

    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -accent-color;
}

.stats-title {
    -fx-font-family: "Rubik";
    -fx-font-size: 20;
}